@import "config";

.block-section {
  background-size: cover;
  background-image: url('../img/block_bg.png');

  .blocks {
    padding: 24% 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;

    .block {
      background-color: $white;

      img {
        width: 100%;

      }
      .block-text {
        padding: 0 25px;
      }
    }
    .block.secondary-green {
      background-color: $secondary-green;
      color: $black;
      
    }
  }
}
