.client-section {
  padding: 5% 13% 0;

  .clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    .first-client {
      background-image: url('../img/first_case_study.png');
    }
    .second-client {
      background-image: url('../img/second_case_study.png');
    }
    .third-client {
      background-image: url('../img/third_case_study.png');
    }
    .client {
      display: flex;
      align-items: flex-end;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 265px;
      color: white;
      padding: 20px;
      @media screen and (max-width: 1439px) {
        height: 125px;
      }
      h3 {
        margin: 0;
      }
      p {
        font-weight: bold;
        line-height: 22px;
        margin: 5px 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .client-section {
    padding: 10% 15%;
    .clients {
      grid-template-columns: repeat(1, 1fr);
      .client {
        height: 250px;
      }
    }
  }
}
